.container{
   //  display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ion-header{
   justify-content: center;
}

ion-card{
    border-radius: 4px;
    border: 1px solid #eee;
    background-color: #fafafa;
    // height: 400px;
    // width: 200px;
    margin: 0 8px 16px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out;
    line-height: 24px;
}

img{
    width: 120px;
    height: 160px;
}

ion-spinner {
    display: block;
    margin: auto;
    margin-top: 10px;
}

.professor{
    display: block;
}