
  ion-button img{
    border-radius: 50%;
    border: 1px solid black;
  }

  .userDetails {
    border-radius: 50%;
    border: 1px solid black;
    background-color: purple;
    color: white;
  }
  
.userx{
    // text-align: center;
    line-height: 31px;
}

.login{
   border-radius: 10%;
   // border: 1px solid black;
   background-color: #2196F3   ;
   color: white;
}